* {
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
}

:root{
  --blue : skyblue;
  --gray : rgb(189, 189, 189);
}

.container{
  border: 2px solid var(--gray);
  border-radius: 6px;
  /* margin-top: 25rem; */
}




